.all-div-sobrepalestra{
    background-color: #eef2f5;
}
.all-palestra{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;

}
.sobre-palestrante{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sobre-palestrante-text{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    font-family:  Montserrat;
    margin-top: 6rem;
}
.sobre-palestrante-text h1{
    font: normal normal bold 40px Montserrat;
    margin-bottom: 5px;
}
.sobre-palestrante-text h2{
    font: normal normal 600 30px Montserrat;
    color: #eeb115;
}
.sobre-palestrante-text h3{
    font: normal normal bold 20px Montserrat;
    color: #fff;
    background-color: #eeb115;
    padding: 4px;
    margin-bottom: 2rem;
}
.sobre-palestrante-text p{
    font: normal normal 500 20px Montserrat;
    margin-bottom: 3rem;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1.5px;
    max-width: 720px;
}

  
.imgDonyMin {
    margin-top: 6rem;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #eeb115;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: relative;
}



.temas-redes{
    display: flex;
    flex-direction: column;
}
.div-temas{
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.div-temas h2{
    font: normal normal bold 30px Montserrat;
    color: #eeb115;
    margin-bottom: 5px;
}
.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.temas li{
    font: normal normal bold 20px Montserrat;
    list-style-type:square;
    margin-bottom: 5px;
    background: #eeb115;
    padding: 5px;
}
.icon-redes{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.icon-redes:hover{
    filter: brightness(0%);
    
}

@media(max-width: 1350px ){
    .all-palestra{
        max-width: 1000px;
    }
    .sobre-palestrante-text{
        max-width: 500px;
    }
    .imgDonyMin{
        width: 300px;
        height: 300px;
    }

}
@media(max-width: 1200px){
    .all-palestra{
        max-width: 800px;
    }
    .sobre-palestrante-text{
        max-width: 340px;
    }
    .imgDonyMin{
        width: 250px;
        height: 250px;
    }
    .sobre-palestrante-text h1{
        font-size: 30px;
    }
    .sobre-palestrante-text h2{
        font-size: 25px;
    }
    .sobre-palestrante-text h3{
        font-size: 18px;
    }
    .sobre-palestrante-text p{
        font-size: 18px;
    }
    .div-temas h2{
        font-size: 25px;
    }
    .temas li{
        font-size: 18px;
    }
    .icon-redes{
        width: 30px;
        height: 30px;
    }

}
@media(max-width: 900px){
    .all-palestra{
        max-width: 600px;
    }
    .sobre-palestrante-text{
        max-width: 300px;
    }
    .imgDonyMin{
        width: 200px;
        height: 200px;
    }
    .sobre-palestrante-text h1{
        font-size: 25px;
    }
    .sobre-palestrante-text h2{
        font-size: 20px;
    }
    .sobre-palestrante-text h3{
        font-size: 15px;
    }
    .sobre-palestrante-text p{
        font-size: 15px;
    }
    .div-temas h2{
        font-size: 20px;
    }
    .temas li{
        font-size: 15px;
    }
    .icon-redes{
        width: 25px;
        height: 25px;
    }
}
@media(max-width:800px){
    .all-palestra{
        flex-direction: column;
        max-width: 300px;
    }
    .sobre-palestrante-img{
        display: flex;
        justify-content: center;
        
    }
    .sobre-palestrante-text{
        max-width: 300px;
        margin-top: 0;
        margin-left: 0;
    }
    .imgDonyMin{
        width: 150px;
        height: 150px;
        padding: 5px;
    }
    .sobre-palestrante-text h1{
        font-size: 20px;
    }
    .sobre-palestrante-text h2{
        font-size: 15px;
    }
    .sobre-palestrante-text h3{
        font-size: 12px;
    }
    .sobre-palestrante-text p{
        font-size: 15px;
        letter-spacing: 0.90px;
        line-height: 24px;
    }
    .div-temas{
        margin-top: 6rem;
        margin-bottom: 0;
        margin-left: 50px;
    }
    .div-temas h2{
        font-size: 15px;
    }
    .temas li{
        font-size: 12px;
    }
    .icon-redes{
        width: 20px;
        height: 20px;
        margin-left: 8px;
    }
    .face{
        margin-left: -5px;
    }
    .sobre-palestrante-img2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}