.page-01{
    background-image: url('../../image/Layout_BOOK-03.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply;   
}
.div-extimas-num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extimas{
    font: normal normal 500 22px Montserrat;
    color: #fff;
}
.div-logo{
    width: 100%;
    height: 100%;
    display: flex;
}
.logo{
    width: 300px;
    height: 200px;
}

.div-logo-number{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}
.numbers{
    display: flex;
    align-items: center;
    color: #fff;
    
}
.num-p{
    font-weight: bold;
    margin-left: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; 
}
.numr{
    font: normal normal bold 40px Montserrat;
}
.num-p p{
    font: normal normal bold 25px Montserrat;
}
.span-numero{
    display: flex;
}
.span-numero p{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    font: normal normal bold 40px Montserrat;
}
@media(max-width:1545px){
    .div-logo-number{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    .extimas{
        font-size: 20px;
    }
    .numr{
        font-size: 35px;
    }
    .num-p p{
        font-size: 20px;
    }
    .span-numero p{
        font-size: 35px;
    }
   
    
}
@media(max-width:1245px){
    .div-logo-number{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    
}
@media(max-width:995px){
    .div-logo-number{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-width: 0;;
        margin: 0 auto;
        padding-top: 10px;
    }
    .extimas{
        font-size: 18px;
    }
    .numr{
        font-size: 30px;
    }
    .num-p p{
        font-size: 18px;
    }
    .span-numero p{
        font-size: 30px;
    }
    .div-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 200px;
        height: 150px;
    }
   
}

@media(max-width:800px){
    .page-01{
        background-image: url(../../image/mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        height: 100%;
        width: 100%;
    }
    .div-extimas-num{
        display:none
    }
    .numr{
        font-size: 20px;
    }
}