.ul-menu{
    background: #030a04;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 12px;
    opacity: 0.82;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0px; 
}

.li-links-title{
    font: normal normal bold 22px Montserrat;
    letter-spacing: 0px;
    color: #D9AB39;
    opacity: 1;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.li-links-title:hover{
    color: #c2c2c2;
    opacity: 1;
}
.div-li-buttons{
    display: flex;
}
.li-button{
    font: normal normal bold 22px Montserrat;
    letter-spacing: 0px;
    color: #D9AB39;
    opacity: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
    margin: 0 3rem;
}

.li-button:hover{
    color: #c2c2c2;
    opacity: 1;
}

ul.ul-menu li {
    position: relative;
}


.dropdown-menu {
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 70px 10px 10px;
    list-style: none;
    background: #0B645E 0% 0% no-repeat padding-box;
    opacity: 0.8;
    animation: show-up .3s forwards;
}

@keyframes show-up {
    from {
      opacity: 0;
      transform: translate3d(0,30px,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

.li-link-dropdown {
    cursor: pointer;
    transition: .5s;
    font: normal normal bold 18px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-align: left;
    text-decoration: none;
    line-height: 1.7;
}
.li-link-dropdown:hover {
    color: #c2c2c2;
    border-radius: 12px;
    opacity: 1;
}



.menu-icon-div{
    display: none;
}
.menu-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.menu-icon span{
    width: 50px;
    height: 5px;
    background: #ffffff;
    display: flex;
    margin: 5px;
}



@media(max-width: 800px) {
    .ul-menu {
        flex-direction: column;
        align-items: flex-start;
        max-width: 235px;
        margin: 0 auto;
        border-radius: 0;
        display: none;
    }
     .menu-icon-div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #030A04;
        width: 100%;
        position: relative;
        padding: 8px;
    }
    .menu-icon span {
        width: 40px;
        height: 5px;
        margin: 2.5px;
    }
    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        padding: 0;
        width: 235px;
        text-align: center;
        
    }
    .li-link-dropdown{
        font-size: 15px;
        line-height: 25px;
   }
    .li-links-title,
    .li-button {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }
    
    .ul-menu.show {
        display: flex;
    }
   
}