.all-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-family: Montserrat;
}
.div-footer {
    display: flex;
    align-items: center;
}
.div-footer p {
    font-size: 17px;
    font-weight: 500;
}

.logo-footer {
    width: 308px;
    height: 115px;
}
.div-btnLin-footer{
    padding: 50px;
}
.btnLin-footer{
    padding: 12px;
    background: #eeb115;
    border: none;
    border-radius: 5px;
    font: normal normal bold 20px Montserrat;
    color: rgb(255, 254, 254);
    cursor: pointer;
    transition: 0.5s;
    
    text-decoration: none;
}
.btnLin-footer:hover{
    opacity: 0.8;
    
}
