
.imgDony{
    width: 1090px;
    margin-top: -20rem;
   
   
}
.text-img{
    display: flex;
    justify-content: space-around;
    
}
.text-palestra{
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 600px;
    margin-top: 12rem;
    margin-left: 10rem;
   
   
}
.text-palestra h1{
    font: normal normal bold 40px Montserrat;
}
.text-palestra p{
    font: normal normal 300 20px Montserrat;
    margin-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}
.p-span{
    color: #D9AB39;
   font-weight: 400;
}
.btnLin{
    width: 270px;
    padding: 12px;
    background-color: #D9AB39;
    border: none;
    border-radius: 5px;
    font: normal normal bold 20px Montserrat;
    color: rgb(255, 254, 254);
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
    text-decoration: none;
}
.btnLin:hover{
    opacity: 1;
    scale: 1.1;
}
@media(max-width:1600px){
    .imgDony{
        width: 900px;
        margin-top: -10rem;
        
    }
    .text-palestra h1{
        font-size: 35px;
    }
    .text-palestra {
       margin-left: 5rem;
    }
    .text-palestra p{
        font-size: 18px;
    }
}

@media(max-width:1450px){
    .imgDony{
        width: 800px;
        margin-top: -10rem;
    }
    .text-palestra h1{
        font-size: 30px;
    }
    .text-palestra {
       margin-left: 3rem;
       max-width: 400px;
       margin-top: 8rem;
    }
    .text-palestra p{
        font-size: 16px;
    }
}
@media(max-width:1246px){
    .imgDony{
        width: 600px;
        margin-top: -6rem;
    }
}
@media(max-width:100px){
    .imgDony{
        width: 500px;
        margin-top: -6rem;
    }
}
@media(max-width:995px){
    .imgDony{
        margin-top: -6rem;
        margin-right: -70px;
    }
    .text-palestra{
        margin-top: 4.5rem;
        margin-left: 3rem;
        max-width: 300px;
    }
    .text-palestra h1{
        font-size: 30px;
    }
    .text-palestra p{
        font-size: 16px;
    }
    .btnLin{
        width: 220px;
        padding: 10px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .Desktop{
        display: none;
    }
} 
